* {
  font-family: didot-italic;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
}

main {
  height: 100%;
}

header {
  width: 100%;
  padding: 0 30px;
  position: fixed;
  background-color: #eeedeb;
  z-index: 1;
}

ul.nav.nav-pills li.nav-link {
  position: relative;
  color: #ce6561;
}

ul.nav.nav-pills li.separator {
  color: #ce6561;
}

ul.nav.nav-pills li.nav-link.separator::after {
  content: "";
  position: absolute;
  right: 0;
  height: 16px;
  bottom: 12px;
  border-right: 1px solid #ce6561;
}

.secondary-bg2 {
  background-color: #eeedeb;
}

.company_name_link {
  font-size: 24px;
  text-decoration: none;
  color: #000;
  text-align: center;
  width: 100%;
}

.bg-video-wrapper {
  z-index: 2;
  height: 100vh;
}

.background,
.bg-video-wrapper .img-wrapper {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  direction: ltr;
}

.bg-video-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #00000078 18%, #000000 100%);
  opacity: 0.82;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.slogan {
  color: #fff;
  font-size: 36px;
  line-height: 36px;
  font-family: didot-italic;
  font-weight: 600;
  max-width: 300px;
  font-style: italic;
  margin-bottom: 70px;
}

.call-to-action-button {
  font-family: didot-italic;
  font-size: 20px;
  line-height: 20px;
  font-weight: 800;
  fill: #c59c40;
  color: #c59c40;
  background-color: #61ce7000;
  border-style: solid;
  border-color: #c59c40;
  padding: 12px 24px;
  border-radius: 3px;
  font-style: italic;
}

.photos {
  padding: 50px 0;
}

.main_photo {
  text-align: center;
}

.main_photo img {
  width: 300px;
}

.second_photo {
  position: absolute;
  left: 8%;
  top: 60%;
  border: 5px solid #f2f1f0;
}

.second_photo img {
  width: 160px;
}

section#contact_us {
  background-color: #eeedeb;
}

section#contact_us h3 {
  margin-bottom: 32px;
  font-family: didot-italic;
}

form input {
  width: 100%;
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  font-family: sans-serif;
  font-size: 12px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
}

form label {
  font-family: didot-italic;
}

.event-date .day,
.event-date .month {
  width: 60px;
}

.event-date .year {
  width: 85px;
}

textarea {
  resize: none;
  width: 100%;
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  font-family: sans-serif;
  font-size: 12px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
  height: 100px;
}

::placeholder {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.8em;
  font-size: 0.8rem;
  font-family: adobe-garamond-pro;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.4em;
  font-size: 0.95rem;
}

.submit-button {
  width: inherit;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 16px;
}

footer {
  padding: 20px 26px 40px;
  background-color: #eeedeb;
}

.separator-3::after {
  display: none !important;
}

@media screen and (min-width: 388px) {
  .separator-3::after {
    display: inherit !important;
  }
  .separator-4::after {
    display: none !important;
  }
}

@media screen and (min-width: 488px) {
  .separator-4::after {
    display: inherit !important;
  }
}

section#decorations {
  padding-top: 60px !important;
}

.decorations .decoration {
  margin-bottom: 16px;
}

.decoration_text {
  width: 100%;
  padding: 16px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.decorations .decoration .img-wrapper img {
  max-width: 100%;
  object-fit: cover;
}

section#services {
  padding-top: 40px !important;
  padding-bottom: 16px;
}

#decorations h2 {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  font-family: didot-italic;
  text-align: center;
}

.decoration-title {
  width: 100%;
  text-align: center;
  font-family: didot-italic;
  font-style: italic;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
  padding: 16px;
  background-color: #000;
  color: #fff;
}

.decoration-text {
  width: 100%;
  text-align: center;
  font-family: didot-italic;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 18px;
}

#services h2 {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  font-family: didot-italic;
  text-align: center;
}

.services .service {
  margin-bottom: 16px;
}

.service-title {
  margin-bottom: 50px;
}

.service-text {
  width: 100%;
  text-align: center;
  font-family: didot-italic;
  font-style: italic;
  margin-bottom: 40px;
  font-size: 18px;
}

.services .service .img-wrapper img {
  max-width: 100%;
  object-fit: cover;
}

section#about_us .img-wrapper img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 16px;
}
